$--colors: (
  'primary': (
    'base': #2f54eb,
  ),
  'success': (
    'base': #67c23a,
  ),
  'warning': (
    'base': #e6a23c,
  ),
  'danger': (
    'base': #f56c6c,
  ),
  'error': (
    'base': #f56c6c,
  ),
  'info': (
    'base': #909399,
  ),
);

@forward "element-plus/theme-chalk/src/dark/var.scss" with (
  $colors: $--colors,
  $box-shadow: (), // '' | light | lighter | dark
  $bg-color: (), // '' | page | overlay
  $text-color: (), // primary | regular | secondary | placeholder | disabled
  $border-color: (), // '' | light | lighter | extra-light | dark | darker
  $fill-color: (), // '' | light | lighter | extra-light | dark | darker | blank
  $mask-color: (), // '' | extra-light
);

@use 'element-plus/theme-chalk/src/dark/css-vars.scss' as *

